<div class="d-flex justify-content-evenly">
    <button id="btn">Jouer</button>
    <form method="POST" class="visually-hidden">
        <input id="save-button" type="submit" class="btn btn-primary" type="button" value="Sauvegarder le score">
    </form>
</div>
<div id='conteneur' class="mt-3" width="480" height="300">
    <canvas id="myCanvas" width="480" height="300"></canvas>
</div>