<div>
    <table>
        <tr>
            <td>Hauteur (11 max)</td>
            <td>
                <input type="number" value="8" placeholder="Largeur" id="x" max='11' />
            </td>
        </tr>

        <tr>
            <td>Largeur (11 max)</td>
            <td>
                <input type="number" value="8" placeholder="Hauteur" id="y" max='11' />
            </td>
        </tr>

        <tr>
            <td>Nombre de mines</td>
            <td>
                <input type="number" value="8" placeholder="Nombre de mines" id="nb_mine" />
            </td>
        </tr>

        <tr>
            <td></td>
            <td>
                <input type="button" value="Lancer la partie" onClick="changerTerrain()" />
            </td>
        </tr>
    </table>
</diV>

<div id="plateau" class="text-center mt-3">
</div>