<div class="d-flex justify-content-evenly p-3">
    <button id="play" class="btn btn-secondary">Jouer</button>
    <form method="POST" class="visually-hidden">
        <input id="save-button" type="submit" class="btn btn-primary" type="button" value="Sauvegarder le score">
    </form>
</div>
<div style="color: #cf22ec; text-shadow: 3px 0 0 #000, -3px 0 0 #000, 0 3px 0 #000, 0 -3px 0 #000, 2px 2px #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;">

    Temps:

    <span id="timer">000</span>
</div>

<table id="tapis" class="visually-hidden">
    <tr>
        <td><img class="rounded " src="/assets/images/cartes/fondcarte.png" /></td>
        <td><img class="rounded " src="/assets/images/cartes/fondcarte.png" /></td>
        <td><img class="rounded " src="/assets/images/cartes/fondcarte.png" /></td>
        <td><img class="rounded " src="/assets/images/cartes/fondcarte.png" /></td>
        <td><img class="rounded " src="/assets/images/cartes/fondcarte.png" /></td>
    </tr>
    <tr>
        <td><img class="rounded " src="/assets/images/cartes/fondcarte.png" /></td>
        <td><img class="rounded " src="/assets/images/cartes/fondcarte.png" /></td>
        <td><img class="rounded " src="/assets/images/cartes/fondcarte.png" /></td>
        <td><img class="rounded " src="/assets/images/cartes/fondcarte.png" /></td>
        <td><img class="rounded " src="/assets/images/cartes/fondcarte.png" /></td>
    </tr>
    <tr>
        <td><img class="rounded " src="/assets/images/cartes/fondcarte.png" /></td>
        <td><img class="rounded " src="/assets/images/cartes/fondcarte.png" /></td>
        <td><img class="rounded " src="/assets/images/cartes/fondcarte.png" /></td>
        <td><img class="rounded " src="/assets/images/cartes/fondcarte.png" /></td>
        <td><img class="rounded " src="/assets/images/cartes/fondcarte.png" /></td>
    </tr>
    <tr>
        <td><img class="rounded " src="/assets/images/cartes/fondcarte.png" /></td>
        <td><img class="rounded " src="/assets/images/cartes/fondcarte.png" /></td>
        <td><img class="rounded " src="/assets/images/cartes/fondcarte.png" /></td>
        <td><img class="rounded " src="/assets/images/cartes/fondcarte.png" /></td>
        <td><img class="rounded " src="/assets/images/cartes/fondcarte.png" /></td>
    </tr>
</table>