<div id="Jeu" class="text-center">
    <div>
        <button></button>
        <button></button>
        <button></button>
    </div>
    <div>
        <button></button>
        <button></button>
        <button></button>
    </div>
    <div>
        <button></button>
        <button></button>
        <button></button>
    </div>
    <div id="StatutJeu"></div>
</div>