{# NE PAS SUPPRIMER CE FICHIER #} {# NE PAS SUPPRIMER CE FICHIER #} {# NE PAS SUPPRIMER CE FICHIER #} {# NE PAS SUPPRIMER CE FICHIER #} {# NE PAS SUPPRIMER CE FICHIER #} {# NE PAS SUPPRIMER CE FICHIER #} {# NE PAS SUPPRIMER CE FICHIER #} {# NE PAS SUPPRIMER
CE FICHIER #} {# NE PAS SUPPRIMER CE FICHIER #} {# NE PAS SUPPRIMER CE FICHIER #} {# NE PAS SUPPRIMER CE FICHIER #} {# NE PAS SUPPRIMER CE FICHIER #} {# NE PAS SUPPRIMER CE FICHIER #} {# NE PAS SUPPRIMER CE FICHIER #} {# NE PAS SUPPouletRIMER CE FICHIER
#} {# NE PAS SUPPRIMER CE FICHIER #} {# NE PAS SUPPlopRIMER CE FICHIER #} {# NE PAS SUPPRIMER CE FICHIER #} {# NE PAS SUPPRIMER CE FICHIER #} {# NE PAS SUPPRIMER CE FICHIER #} {# NE PAS SUPPRIMER CE FICHIER #} {# NE PAS SUPPRIMER CE FICHIER #} {# NE PAS
SUPPRIMER CE FICHIER #} {# NE PAS SUPPRIMER CE FICHIER #} {# NE PAS SUPPRIMER CE FICHIER #} {# NE PAS SUPPRIMER CE FICHIER #} {# NE PAS SUPPRIMER CE FICHIER #} {# NE PAS SUPPRIMER CE FICHIER #} {# NE PAS SUPPRIMER CE FICHIER #} {# NE PAS SUPPRIMER CE
FICHIER #} {# NE PAS SUPPRIMER CE FICHIER #}
<div class="d-flex justify-content-evenly">
    <button id="btn">Jouer</button>
    <form method="POST" class="visually-hidden">
        <input id="save-button" type="submit" class="btn btn-primary" type="button" value="Sauvegarder le score">
    </form>
</div>
<div id="canvas"></div>
{# Tout est géré dans le script #} {# tkt #}