<div class="d-flex justify-content-evenly align-items-center p-3" style="background: linear-gradient(to bottom,rgba(154, 255, 255), rgba(160, 126, 255));">
    <div style="width:32rem">
        <div class="text-center">
            <p>Rejoignez-nous sur les réseaux sociaux !</p>
            <div id="sns-icons" class="item">
                <section class="icon-list">
                    <div>
                        <!-- facebook -->
                        <i class="nes-icon facebook is-medium"></i>
                        <!-- github -->
                        <i class="nes-icon github is-medium"></i>
                        <!-- linkedin -->
                        <i class="nes-icon linkedin is-medium"></i>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div style="width:32rem" class="text-center">
        <img src="https://zupimages.net/up/21/19/q96c.png" class="img-fluid" alt="Responsive image">
        <p class="m-0" style="color: #9affff">
            © 2021 Figyuhack. Tous droits reservés.
        </p>
    </div>
</div>